<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Notifications_Server.Service.RegistrationService"
               behaviorConfiguration="MyServiceBehavior">
        <endpoint address="http://localhost:8000/RegirstatorService"
                  binding="webHttpBinding"
                  behaviorConfiguration="EndpontServiceBehavior"
                  contract="Notifications_Server.Service.IRegistrationService"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpontServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
